@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
body {
    background-color: #f7f8fc;
    font-family: 'Montserrat', sans-serif;
}


.input-text {
    width: 100%;
    padding: 16px 8px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}


/* first color #330055 */
/* second color #DD00FF */
